*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

.container{
    width: 85%;
    margin: 0 auto;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #3b3b3b;
}

.content{
    width: 300px;
    height: 570px;
    position: relative;
    left: 600px;
    top: 200px;
    margin-bottom: 10px;

}

.green{
    background-color: green;
    animation: micro-animation-1 4s infinite both;
    animation-delay: 0s;
}

.yellow{
    background-color: yellow;
    animation: micro-animation-2 4s infinite both;
    animation-delay: -1s;
}

.blue{
    background-color: blue;
    animation: micro-animation-3 4s infinite both;
    animation-delay: -2s;
}

.red{
    background-color: red;
    animation: micro-animation-4 4s infinite both;
    animation-delay: -3s;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 6px;
    position: absolute;

    /* animation: micro-animation 4s infinite both; */
}

@keyframes micro-animation {
    0% {
        transform: translate(0, 0);
    }
    25%{
        transform: translate(100px, 0);
    }
    50%{
        transform: translate(100px, 100px);
    }
    75%{
        transform: translate(0px, 100px);
    }
    100%{
        transform: translate(0, 0);
    }
}



@keyframes micro-animation-1 {
    0% {
        transform: translate(0, 0);
    }
    25%{
        transform: translate(100px, 0);
    }
    50%{
        transform: translate(100px, 100px);
    }
    75%{
        transform: translate(0px, 100px);
    }
    100%{
        transform: translate(0, 0);
    }
}

@keyframes micro-animation-2{
    0% {
        transform: translate(0, 0);
    }
    25%{
        transform: translate(100px, 0);
    }
    50%{
        transform: translate(100px, 100px);
    }
    75%{
        transform: translate(0px, 100px);
    }
    100%{
        transform: translate(0, 0);
    }
}

@keyframes  micro-animation-3{
    0% {
        transform: translate(0, 0);
    }
    25%{
        transform: translate(100px, 0);
    }
    50%{
        transform: translate(100px, 100px);
    }
    75%{
        transform: translate(0px, 100px);
    }
    100%{
        transform: translate(0, 0);
    }
}


@keyframes micro-animation-4{
    0% {
        transform: translate(0, 0);
    }
    25%{
        transform: translate(100px, 0);
    }
    50%{
        transform: translate(100px, 100px);
    }
    75%{
        transform: translate(0px, 100px);
    }
    100%{
        transform: translate(0, 0);
    }
}

.title.box{
  
}

.title{
    color: #fff;
    position: absolute;
    bottom: 300px;
    left: 20px;
}